<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Birthday Countdown copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Birthday Countdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Christmas Countdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Es casi mi cumpleaños.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Its Almost Christmas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Its Almost Halloween.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Its Almost My Birthday copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Its Almost My Halloween copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Its Almost My Halloween copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Spanish Birthday Countdown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27C7157C1F92B3B7003DA19F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E9249D1F57AE7100739DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E924B01F57AE7100739DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E924BB1F57AE7100739DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9525E00C1F35447D008E6815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
